@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

button{
    display: flex;
    align-items: center;
    gap: 10px;
    outline: none;
    border: none;
    background-color: #e3e3e3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 9%;
    overflow-x: hidden;
}

.heading h1{
    color: #42446E;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 49px;
}

.heading p{
    color: #666;
    text-align: center;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 100px;
}

:root{
    --linear-gradient : linear-gradient(90deg, #13B0F5 2.60%, #E70FAA 100%);
}

/* Navbar designing */

.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e3e3e3;
    z-index: 100;
}

.logo{
    background: var(--linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1px;
}

.navbar .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.navbar .nav-links li{
    padding: 25px 0;
}

.navbar .nav-links li.active{
    border-bottom: 2px solid #E70FAA;
}

.navbar .nav-links a{
    color: #666666;
}

.navbar .nav-links > a:hover{
    color: #13B0F5;
}

.nav-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.nav-icons a{
    width: 25px;
    height: 25px;
    color: #666666;
    border-radius: 50%;
    transition: .3s ease;

}

.nav-icons a:hover{
    color: #fff;
    background-color: #E70FAA;
}

.nav-icons .icon{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#menu-icon{
    display: none;
    font-size: 28px;
    color: #42446E;
}


@media screen and (max-width: 950px) {
        .navbar{
            padding: 0px 7%;
        }

        .navbar .logo a{
            font-size: 48px;
            line-height: 55px;
        }

}


@media screen and (max-width: 800px) {
<<<<<<< HEAD
=======
    .navbar{
        padding: 10px 7%;
    }

>>>>>>> skillspage
    #menu-icon{
        display: block;
    }

    .navbar .icon{
        cursor: pointer;
    }

    .navbar .nav-links{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #f1f1f1;
        width: 100%;
        padding: 40px 0;
        top: 70px;
        right: 0;
<<<<<<< HEAD
        padding: 50px;
        z-index: 10;
        transition: .5s ease;
        opacity: 0;
=======
        opacity: 0;
        visibility: hidden;
        transition: .3s ease;
>>>>>>> skillspage
    }

    .navbar .nav-links.active{
        visibility: visible;
        opacity: 1;
    }

<<<<<<< HEAD
    .navbar .nav-links a{
        color: #fff !important;
=======

    .navbar .nav-links > li{
        width: 100%;
        height: 50px;
        padding:  0;
        line-height: 50px;
        text-align: center;
        color: #666666 !important;
        background: #f1f1f1;
        border: none;
        cursor: pointer;
    }

    .nav-links li.active{
        background: #fff;
        border-bottom: none !important;
    }



    .navbar .nav-links > li:hover{
        color: #13B0F5 !important;
        background: #e3e3e3;
    }

    .nav-icons{
        margin-top: 25px;
>>>>>>> skillspage
    }
}

@media screen and (max-width: 550px) {

    .navbar .logo a{
        font-size: 28px;
        line-height: 35px;
    }

    .nav-icons{
        display: none;
    }
}

/***************
Home Section 
 ************/
.header{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.header .container .content{
    flex: 3;
    max-width: 636px;
}

.header .content h1{
    color: #42446E;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
}

.header .content span{
    background: var(--linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
}

.header .container .image{
    flex: 2;
    max-width: 389px;
    max-height: 389px;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.header .container .image img{
    width: 100%;
    height: 100%;
    border: 5px solid #42446E;
    border-radius: 230px;
    background: lightgray 50% / cover no-repeat var(--linear-gradient);
}

/***************
Skills Section 
 ************/

 .skills{
    display: flex;
    flex-direction: column; 
    background-color: #f1f1f1;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.skills .images{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 50px 100px;
    margin-bottom: 50px;
}

.skills .images img{
    width: 80px;
    height: 80px;
    padding: 5px;
    object-fit: fill;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.discover-more{
    display: flex;
    align-items: center;
    gap: 10px;
}

.discover-more a{
    color: #666666;
}
.discover-more a:hover, .discover-more:hover{
    font-weight: 500;
}



/***************
Project Section 
 ************/

 .projects{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.project-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

<<<<<<< HEAD
.projects .project{
    max-width: 373px;
    max-height: fit-content;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
=======
.project{
    max-width: 350px;
    max-height: fit-content;
    background: #FFF;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
>>>>>>> skillspage
}

.project .image{
    position: relative;
    max-width: 350px;
    height: 223px;
<<<<<<< HEAD
    border-radius: 20px 20px 0px 0px;
=======
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
>>>>>>> skillspage
    cursor: pointer;
}

.project .image::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
<<<<<<< HEAD
    background-color: #000;
    border-radius: 20px 20px 0px 0px;
    opacity: 0.5;
    transition: .3s ease;
=======
    transition: .5s ease;
    z-index: 1;
>>>>>>> skillspage
}

.project .image:hover::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    background-color: #000;
    border-radius: 20px 20px 0px 0px;
    opacity: 0.5;
=======
    background-color: rgba(0, 0, 0, 0.5);
>>>>>>> skillspage
}

.project .image img{
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    object-fit: fit;
    border-radius: 20px 20px 0px 0px;
=======
>>>>>>> skillspage
}

.project .image .img-icon{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
<<<<<<< HEAD
    color: #fff;
=======
    color: #e3e3e3;
    z-index: 2;
>>>>>>> skillspage
}

.project .image:hover .img-icon{
    display: block;
}

.project .image .img-icon:hover{
    color: #13B0F5;
}

.project .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    padding: 28px;
}

.project .content .title{
    color: #2189b5;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.project .content .desc{
    height: 100px;
    color: var(--dark-content, #666);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: .5px;
}

.project .content .tech{
    color: #666666;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.project .content .tech span{
    color: #2189b5;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
}

.project .content .links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .links .preview, .content .links .code{
    display: flex;
    align-items: center;
}

.content .links a{
    color: #000;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 162.5% */
    text-decoration-line: underline;
    margin-left: 10px;
}

.content .links a:hover{
    color: #666666;
}

.project .project-icon{
    width: 20px;
    height: 20px;
}

.explore{
    display: flex;
    gap: 20px;
}

/***************
Footer Design
 ************/
footer{
    background-color: #f1f1f1;
}

footer .container{
    width: 100%;
    padding: 100px 9%;
}

footer .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .footer-top .contact{
    display: flex;
    align-items: center;
}

.footer-top p{
    margin: 0 33px;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.2px;
}

.footer-top .contact a{
    line-height: 12.5px;
}

.footer-top .icon{
    font-size: 25px;
    border-radius: 50%;
    margin-left:20px;
    color: #666666;
}

.footer-top .icon:hover{
    color: #fff;
    background-color: #E70FAA;
}

.line{
    margin: 60px 10px 0 10px;
    width: 100%;
    height: 2px;
    background-color: #666;
    opacity: 0.3;
}


.footer-bottom{
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-bottom ul{
    display: flex;
    gap: 35px;
}

.footer-bottom ul a, .bottom-right p{
    color: var(--solid-heading, #666666);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.footer-bottom ul a:hover{
    color: #13B0F5;
}


/***************
About Design
 ************/
 
 .about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}


.about .image{

    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    margin: 50px 0;
}

.about .image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-radius: 50%;
}

.about .about-me{
    max-width: 708px;
}

.about-me h1{
    color: #42446E;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 123.81% */
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}
.about-me p{
    color: var(--dark-content, #666);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 144.444% */
    text-align: justify;
}

.about .skills{
    max-width: 708px;
    background-color: #FFF;
}

.about .skills h1{
    color: #42446E;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 123.81% */
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}

.about .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.about .container img{
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/***************
Contact Design 
 ************/

.contact-page{
    position: relative;
    min-height: calc(100vh - 390px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


.contact-page .heading p,
.contact-page .heading h1{
    margin: 0;
    padding: 25px 0;
}



/***************
Not Found Page Design 
 ************/

.not-found-page{
    padding-top: 180px;
}















/***************
Media Query 
 ************/

@media screen and (max-width: 1150px) {
    section{
        padding: 100px 7%;
    }

    .heading h1{
        font-size: 38px;
        margin-bottom: 30px;

    }
    .heading p{
        font-size: 26px;
    }


    .header .content h1{
        font-size: 48px;
        line-height: 55px;
    }
    
    .header .content span{
        font-size: 48px;
        line-height: 55px;

    }

    .skills .images{
        display: flex;
        gap: 90px;
    }

    /* projects */
    .project-container{
        gap: 50px;
    }
    
    .projects .project,
    .project .image{
        max-width: 343px;
    }
    
    .project .content{
        row-gap: 15px;
        padding: 24px;
    }
    
    .project .content .title{
        color: #000;
        font-size: 24px;
        line-height: 22px;
    }
    
    .project .content .desc,
    .project .content .tech span,
    .content .links a{
        font-size: 14px;
        line-height: 22px;
    }
    
    .project .content .tech{
        font-size: 12px;
        line-height: 22px;
    }

    /* Footer */
    footer .footer-top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .footer-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@media screen and (max-width: 800px) {
    section{
        padding: 100px 5%;
    }

    .heading h1{
        font-size: 30px;
        margin-bottom: 26px;
    }
    .heading p{
        font-size: 20px;
    }

    .home .container{
        display: flex;
        flex-direction: column;
    }

    .header .content h1{
        font-size: 38px;
        line-height: 45px;
    }
    
    .header .content span{
        font-size: 38px;
        line-height: 45px;
    }

    .skills .images{
        grid-template-columns: repeat(4, 80px);
        gap: 80px;
    }

        /* projects */
        .project-container{
            gap: 40px;
        }
        
        .projects .project,
        .project .image{
            max-width: 303px;
        }
        
        .project .content{
            row-gap: 10px;
            padding: 24px;
        }
        
        .project .content .title{
            color: #000;
            font-size: 20px;
            line-height: 18px;
        }
        
        .project .content .desc,
        .project .content .tech span,
        .content .links a{
            font-size: 12px;
            line-height: 18px;
        }
        
        .project .content .tech{
            font-size: 10px;
            line-height: 18px;
        }

            /* Footer */

    footer .footer-top .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-top .contact p, .footer-top .contact .icon{
        margin: 10px;
    }



    footer .footer-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 550px) {
    section{
        padding: 100px 3%;
    }
    .heading{
        text-align: left;
    }
    .heading h1{
        font-size: 26px;
        margin-bottom: 20px;
    }
    
    .heading p{
        font-size: 16px;
    }

    .header .content h1{
        font-size: 30px;
        line-height: 35px;
    }
    
    .header .content span{
        font-size: 30px;
        line-height: 35px;
    }

    .skills .images{
        grid-template-columns: repeat(auto-fill, 70px);
        gap: 60px;
    }

    /* Project */

    .project-container{
        gap: 20px;
    }
    .projects .project,
    .project .image{
        max-width: 270px;
    }

    /* Footer */
    footer .footer-bottom{
        align-items: flex-start;
        row-gap: 20px;
    }

    .bottom-left ul{
        flex-direction: column;
        row-gap: 15px;
    }

    /* Footer */

    footer .footer-top, footer .footer-top .contact{
        align-items: flex-start;
    }

    .footer-top .contact p{
        margin: 0;
        color: #42446E;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }
    .footer-top .contact .icon{
        margin: 10px 10px 0 0;
        font-size: 20px;
        border-radius: 50%;
        color: #42446E;
    }
    .footer-bottom ul a, .bottom-right p{
        color: var(--solid-heading, #42446E);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }
    
}






